* {
	padding: 0;
	margin-top: 100;
}

.page .nav-left {
	position: absolute;
	margin-top: 0px;
	height: 690px;
	width: 240px;
	background-color: #FFFFFF;
	box-shadow:7px 0px 0px rgba(72, 72, 72, 0.1);
	transition: all .5s;
	z-index: 100;
	/* overflow: hidden; */
}




.page .nav-left .navDiv .nav-list ul .a_active {
	background-color: #f2f0f8;
}

.page .nav-left .navDiv .nav-list ul .a_active .active {
	color: #6d61ea !important;
	font-weight: 700;
}

.page .nav-left .navDiv .nav-list ul .nav-tab {
	list-style: none;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .li-a {
	padding: 12px 15px 12px 25px !important;
	text-decoration: none;
	display: block;
	padding: 0.65rem 1.5rem;
	font-size: 14px;
	color: #5a5454;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .li-a .bx {
	font-size: 17px;
	vertical-align: text-top;
	margin-right: 6px;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .nav-box {
	height: 0;
	overflow: hidden;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box {
	height: auto !important;
	padding-bottom: 12px;
	transition: all 0.6s;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box a {
	padding: 5px 70px !important;
	text-decoration: none;
	display: block;
	padding: 0.65rem 1.5rem;
	font-size: 13px;
	color: #5a5454;
	transition: all 0.3s;
	margin-left: 0px;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box .active-li-a {
	color: #6d61ea !important;
	font-weight: 700;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box a:hover {
	margin-left: 6px;
}

.page .nav-left .navDiv .nav-list .li-a {
	transition: all 0.8s;
	margin-left: 0px;
}

.page .nav-left .navDiv .nav-list .li-a:hover {
	margin-left: 6px;
}

.page .nav-right {
	display: flex;
	flex-direction: column;
	padding-left: 240px;
	transition: all .5s;
	z-index: 200;
}

.page .nav-top {
	flex: 1;
	height: 60px;
	width: 100%;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 10px 0px 17px rgba(72, 72, 72, 0.2);
	z-index: 200;
}

.page .content-page {
	z-index: 200;
	flex: 1;
	position: absolute;
	top: 60px;
	left: 240px;
	right: 0;
	bottom: 0;
	transition: all .5s;
	background-color: #FFFFFF;
	margin: 15px;
}

.line-vertical-split-stuInfo{
	margin-top: 50px;
	background:#d6dce0;
	width:1px;
	height:500px;
	position: absolute;
}

.index-page {
	height: 100%;
	width: 100%;
	background: url('../img/background/background_2.svg') no-repeat;
	background-size: cover;
	position: absolute;
	overflow: hidden;
  }
  

.page-animation {
	animation: fadeInAnimation ease 4s;
	
	animation-iteration-count: 1; /*设置动画播放次数*/
	
	animation-fill-mode: forwards; /*设置样式以在动画不播放时应用元素。forward是设置动画结束后，使用元素的结束属性值*/
	
	}
	
	@keyframes fadeInAnimation {
	0% {
	opacity: 0; /*设置不透明度*/
	
	}
	
	100% {
	opacity: 1;
	
	}
	
}

.div-avatar {
	position:absolute; 
	left:70px; 
	top:170px;
	z-index: 1;
}

.div-info {
	position:absolute; 
	left:220px; 
	top:50px;
}

.div-submit {
	position:absolute; 
	left:980px; 
	top:300px;
	z-index: 1;
}

#myAvatar {
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,.5);
	cursor: pointer;
	transition: 1.5s;
	border: 3px solid rgba(85, 85, 85, 0.7);
}

#myAvatar:hover {
	transform: scale(1.3, 1.3);
}

#btn-info-update:hover {
	transform: scale(1.3, 1.3);
	transition: .5s;
}


.avatar-for-select {
	height: 70px;
	width: 70px;
	border-radius:50%;
	margin: 2px;
}

.avatar-for-select:hover { 
	transform: scale(1.2, 1.2);
	/* transition: .5s; */
	/* transition: all 1s cubic-bezier(0.2, 0.8, 0.36, 1.6) 0s; */

	box-shadow: 0px 0px 2px 3px rgb(156, 156, 156);
}

.avatar-box img.active {
	transition: 0s;
	border: 5px solid rgba(206, 62, 62, 0.7);
}