* {
	padding: 0;
	margin-top: 100;
}

.page .nav-left {
	position: absolute;
	margin-top: 57px;
	height: 690px;
	width: 240px;
	background-color: #FFFFFF;
	box-shadow:7px 0px 0px rgba(72, 72, 72, 0.1);
	transition: all .5s;
	z-index: 100;
	/* overflow: hidden; */
}




.page .nav-left .navDiv .nav-list ul .a_active {
	background-color: #f2f0f8;
}

.page .nav-left .navDiv .nav-list ul .a_active .active {
	color: #6d61ea !important;
	font-weight: 700;
}

.page .nav-left .navDiv .nav-list ul .nav-tab {
	list-style: none;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .li-a {
	padding: 12px 15px 12px 25px !important;
	text-decoration: none;
	display: block;
	padding: 0.65rem 1.5rem;
	font-size: 14px;
	color: #5a5454;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .li-a .bx {
	font-size: 17px;
	vertical-align: text-top;
	margin-right: 6px;
}

.page .nav-left .navDiv .nav-list ul .nav-tab .nav-box {
	height: 0;
	overflow: hidden;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box {
	height: auto !important;
	padding-bottom: 12px;
	transition: all 0.6s;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box a {
	padding: 5px 70px !important;
	text-decoration: none;
	display: block;
	padding: 0.65rem 1.5rem;
	font-size: 13px;
	color: #5a5454;
	transition: all 0.3s;
	margin-left: 0px;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box .active-li-a {
	color: #6d61ea !important;
	font-weight: 700;
}

.page .nav-left .navDiv .nav-list ul .nav-show .nav-box a:hover {
	margin-left: 6px;
}

.page .nav-left .navDiv .nav-list .li-a {
	transition: all 0.8s;
	margin-left: 0px;
}

.page .nav-left .navDiv .nav-list .li-a:hover {
	margin-left: 6px;
}

.page .nav-right {
	display: flex;
	flex-direction: column;
	padding-left: 240px;
	transition: all .5s;
	z-index: 200;
}

.page .nav-top {
	flex: 1;
	height: 60px;
	width: 100%;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 10px 0px 17px rgba(72, 72, 72, 0.2);
	z-index: 200;
}

.page .content-page {
	z-index: 200;
	flex: 1;
	position: absolute;
	top: 60px;
	left: 240px;
	right: 0;
	bottom: 0;
	transition: all .5s;
	background-color: #FFFFFF;
	margin: 15px;
}

.line-vertical-split-stuInfo{
	margin-top: 50px;
	background:#d6dce0;
	width:1px;
	height:500px;
	position: absolute;
}