<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/page.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/login.register.css">
</head>
<body>
    <div class="page">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">个人信息</a></li>
                    <li class="breadcrumb-item active" aria-current="page">基本信息</li>
                </ol>
            </nav>
            <div class="row">

                    <div class="div-avatar text-center m-5">
                        <img id="myAvatar" src="/img/avatar2/1.png" onclick="openAvatarModal()" class="shadow-lg p-0 mb-3 rounded-circle" height="230" width="230">
                    </div>
 
                    <div class="div-info card shadow mb-4">
                        <div class="card-header" style="text-align: center;">
                            <h6 class="m-0 font-weight-bold text-primary">个人信息修改</h6>
                        </div>
                        <div class="card-body row" style="height: 370px; width:800px;">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-7">
                                <div class="input-group mb-2" style="margin-top: 20px;">
                                    <label for="idLabel" class="col-sm-3 col-form-label" style="font-weight:bold;">用户ID：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="idLabel" value="10000000" disabled></input>
                                    </div>
                                </div>
                                <div class="input-group mb-2" style="margin-top: 20px;">
                                    <label for="realnameLabel" class="col-sm-3 col-form-label" style="font-weight:bold;">真实姓名：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="realnameLabel" value="张三"></input>
                                    </div>
                                </div>
                                <div class="input-group mb-2" style="margin-top: 20px;">
                                    <label for="classLabel" class="col-sm-3 col-form-label" style="font-weight:bold;">所属班级：</label>
                                    <div class="col-sm-9">
                                        <div id="classLabel" style="margin-top: 5px;">
                                            <!-- <span class="badge badge-primary">Java 1班</span>
                                            <span class="badge badge-primary">Python 1班</span> -->
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="input-group mb-2" style="margin-top: 20px;">
                                    <label for="genderLabel" class="col-sm-3 col-form-label" style="font-weight:bold;">性别：</label>
                                    <div class="col-sm-9">
                                        <div id="genderLabel" class="btn-group-gender" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-light" value="0" style="width: 140px;">男</button>
                                            <button type="button" class="btn btn-light" value="1" style="width: 140px;margin-left: 5px;">女</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-2" style="margin-top: 20px;">
                                    <label for="passwordLabel" class="col-sm-3 col-form-label" style="font-weight:bold;">新密码：</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="passwordLabel" value="123456"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                    <div class="div-submit">
                        <button id="btn-info-update" type="button" class="btn btn-primary btn-lg" style="border-radius: 50%;">
                            <i class="bi bi-check2" style="font-size: 30px; font-weight: bolder;"></i>
                        </button>
                    </div>
                </div>



            </div>
              
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modal-select-avatar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">选择头像</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                </div>
                <div class="modal-body">
                    <div id="img-box" class="avatar-box" style="margin-left: 1px;">
                    </div>
                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="btn-avatar-select-submit" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
            </div>
        </div>


    </div>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquerysession.js"></script>

    <script>
        var userId = $.session.get('userId');

        var newAvatar = "";

        var userAvatar = "";
        var userRealname = "";
        var userClassList = [];
        var userGender = "";
        var userPassword = "";

        function openAvatarModal() {
            $('#modal-select-avatar').modal('show');
            loadAvatar();
        }

        function loadAvatar () {
            var avatarImg = "";
            var imgStr = "";
            for(var i = 1; i <= 100; i++) {
                avatarImg = '/img/avatar2/' + i + '.png';
                imgStr = '<img class="avatar-for-select" src="' + avatarImg + '">';
                document.getElementById('img-box').innerHTML += imgStr;
            }
        }

        $(function(){
            // $('.avatar-box img').click(function(){
            //     $(this).addClass('active').siblings().removeClass('active');
            //     // alert($(this).attr('src'));
            //     newAvatar = $(this).attr('src');
            // });


            //  $('父元素').on('click', '子元素', function(){})
            
            $('.avatar-box').on('click', 'img', function(){
                $(this).addClass('active').siblings().removeClass('active');
                // alert($(this).attr('src'));
                newAvatar = $(this).attr('src');
            })

            $('.btn-group-gender').on('click', 'button', function() {
                $(this).removeClass('btn-light');
                $(this).addClass('btn-primary');
                $(this).siblings().removeClass('btn-primary');
                $(this).siblings().addClass('btn-light');
                // alert($(this).attr('value'));
            })
        })

        $('#btn-avatar-select-submit').click(function () {
            document.getElementById('myAvatar').src = newAvatar;
            $('#modal-select-avatar').modal('hide');
            // document.getElementById('btn-submit-avatar').disabled = false;
        })

        $(document).ready(function () {
            $.ajax({
                url: "/student/getUserInfo?uid=" + userId,
                type: "GET",
                dataType: "json",
                success: function(resultMsg){
                    initUserInfo(resultMsg.data);
                },
                error: function(msg) {
                    alert(resultMsg.msg);
                }
            }); 

        })

        function initUserInfo(userData) {
            userAvatar = userData.studentPicture;
            newAvatar = userAvatar;
            userId = userId;
            userRealname = userData.studentName;
            userClassList = userData.studentClass.split(',');
            // console.log(userClassList);
            userGender = userData.studentGender;
            userPassword = userData.studentPassword;

            document.getElementById('myAvatar').src = userAvatar;
            document.getElementById('idLabel').value = userId;
            document.getElementById('realnameLabel').value = userRealname;

            if(userGender == "male") {
                $('#btn-gender-male').removeClass('btn-light').addClass('btn-primary');
                $('#btn-gender-female').removeClass('btn-primary').addClass('btn-light');
            } else {
                $('#btn-gender-female').removeClass('btn-light').addClass('btn-primary');
                $('#btn-gender-male').removeClass('btn-primary').addClass('btn-light');
            }

            document.getElementById('passwordLabel').value = userPassword;

            var stuclass = "";
            for(var element in userClassList) {
                stuclass = '<span class="badge badge-primary">' + userClassList[element] + '</span>';
                document.getElementById('classLabel').innerHTML += stuclass;
            }

        }

        $('#btn-info-update').click(function() {
            var avatarUpdate = newAvatar;
            var realnameUpdate = document.getElementById('realnameLabel').value;
            var genderUpdate = $('#btn-gender-male').hasClass('btn-primary') ? 0 : 1;
            var passwordUpdate = document.getElementById('passwordLabel').value;

            $.ajax({
                    type: "post",
                    url: "/student/infoUpdate",
                    data: JSON.stringify({
                        "studentId": userId,
                        "studentPicture": avatarUpdate,
                        "studentName": realnameUpdate,
                        "studentGender": genderUpdate,
                        "studentPassword": passwordUpdate
                        }),
                    datatype: "json",
                    contentType: "application/json",
                    success: function(resultMsg){
                        if(resultMsg.code == 0){
                            //修改成功
                            alert("修改成功！")
                            window.parent.location.reload();
                        }else{
                            //修改失败
                            alert(resultMsg.msg);
                        }
                    },
                    error: function(resultMsg){
                        // alert("通信失败");
                    }
                    
                });


        })
 
    </script>

</body>
</html>