<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loti.dao.mapper.StuPaperMapper">
    <select id="SelectMarkByExamAndStudent" resultType="int">
        select student_mark from student_paper_record
        where student_id = #{stuId} and exam_id = #{examId}
    </select>
    <select id="SelectStuPaperByStuId" parameterType="int" resultType="com.loti.dao.pojo.Entity.StudentPaper">
        select * from student_paper_record where (student_id) = #{id}
    </select>
    <select id="SelectStuPaperByExamId" parameterType="int" resultType="com.loti.dao.pojo.Entity.StudentPaper">
        select * from student_paper_record where exam_id = #{id}
    </select>
    <update id="updateStudentTestInfoById" >
        update student_paper_record
        set student_mark = 0 where student_id = #{stuId} and exam_id = #{examId}
    </update>
    <insert id="InsertStuPaper"  parameterType="com.loti.dao.pojo.Entity.StudentPaper" >
        insert into student_paper_record (record_id, exam_id, student_id) VALUES
        (#{recordId},#{examId},#{studentId})
    </insert>
    <update id="updateScorePart1">
        update student_paper_record
        set score_part1 = #{score}
        where student_id = #{stuId} and exam_id = #{examId}
    </update>
    <update id="updateScorePart2">
        update student_paper_record
        set score_part2 = #{score}
        where student_id = #{stuId} and exam_id = #{examId}
    </update>
    <select id="selectScorePart1" resultType="int">
        select score_part1 from student_paper_record
        where exam_id = #{examId} and student_id = #{stuId}
    </select>
    <select id="selectScorePart2" resultType="int">
        select score_part2 from student_paper_record
        where exam_id = #{examId} and student_id = #{stuId}
    </select>
</mapper>