<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <title>JS调用摄像头的示例-飞鸟慕鱼博客</title>
</head>
<body>
    <video src=""></video>
    <canvas id="canvas"></canvas>
    <button>拍照</button>
    <img src="">
    <script type="text/javascript">
    var video = document.querySelector('video');
    navigator.mediaDevices.getUserMedia({
        audio: true, 
        video: { width: 200, height: 150 }
    })
    .then(function (stream) {       
        try {
            video.src = window.URL.createObjectURL(stream);
        } catch (e) {
            video.srcObject = stream;
            video.onloadedmetadata = function(e){
                video.play();
            }
        }
    })
    .catch(function (err) {
        console.log(err);  //如果无法调用摄像头，这里会提示错误
    });
    $('button').on('click',function(){
        var canvas = document.getElementById('canvas');
        canvas.getContext('2d').drawImage(video,0,0,200,150); // canvas 拍照
        var image = new Image(); //必须使用 Image ，不然 canvas 的 toDataURL 方法会报错，可不是闲着蛋疼
        image.src = canvas.toDataURL("image/png"); //base64 类型的图片
        $('img').attr('src', image.src); 
    })
    </script>
</body>
</html>