<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<title>考试页面 - Exam Online</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="../static/css/page.css" />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/test.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


        <style>
            .hasBeenAnswerRight {background: #5d9cec;color:#fff;}
            .hasBeenAnswerWrong {background: #e41d4f;color:#fff;}
        </style>


	</head>
	<body>
		<div class="page">
			<div class="navbar navbar-light bg-light shadow-sm p-0 bg-body rounded fixed-top">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="padding-left: 10%;">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Exam Online</span></div>
                </a>
				<div class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" style="padding-right: 10%;">
                    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                        <div class="text-center">
                            <img id="userImgArea" src="../static/img/avatars/avatar6.jpg" class="rounded-circle" height="35" width="35">
                        </div>
                        <div id="userIdArea" class="sidebar-brand-text mx-3">Misty Mountain</div>
                    </a>
                </div>
			</div>
            <div class="exam-page" style="padding-top:55px;">
                <div class="container" style="max-width: 100%;">
                    <div class="row">
                        <div class="col">
                            <div class="left-col" style="position: fixed;">
                                <div class="exam-info-box m-2">
                                    <div class="card mt-3">
                                        <div class="card-header" style="text-align: center;">
                                            <i class="ri-file-info-line" style="font-size: 16px;"></i>
                                            <span style="font-size: 18px;">考试信息</span>
                                        </div>
                                        <div class="card-body" style="width: 336px; padding: 1rem;">
                                            <div class="alert alert-info" role="alert" style="text-align: left;">
                                                <br>
                                                <h3 class="card-title" style="text-align: center;">Java能力测试</h3>
                                                <br>
                                                <p class="card-text">开始时间：2021-07-12 14:35:09</p>
                                                <p class="card-text">考试时长：120分钟</p>
                                                <p class="card-text">成绩：90分</p>
                                              </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="exam-body-box m-3">
                                  <div class="nr_left">
                                    <div class="test">
                                        <div>
                                            <!--单选题 表头-->
                                            <div class="test_content">
                                                <div class="test_content_title">
                                                    <h2>单选题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">2</i><span>题，</span><span>合计</span><i class="content_fs">10</i><span>分</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--单选题 题目-->
                                            <div class="test_content_nr">
                                                <ul id="ul-box-type-0">
                                                    <!--
                                                    <li id="0_qu_1" class="question-ancher-jumpto">
                                                        <div class="test_content_nr_tt">
                                                            <i>1</i><span>(5分)</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font>
                                                        </div>              
                                                        <div class="test_content_nr_main">
                                                            <ul>
                                                                <li class="option">
                                                                    <input type="radio" class="radioOrCheck" name="answer1"
                                                                        id="answer_1_option_1"/>
                                                                    <label for="answer_1_option_1">
                                                                        A.
                                                                        <p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p>
                                                                    </label>
                                                                </li>
                                                                <li class="option">
                                                                        <input type="radio" class="radioOrCheck" name="answer1"
                                                                            id="answer_1_option_2"
                                                                        />
                                                                    <label for="answer_1_option_2">
                                                                        B.
                                                                        <p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p>
                                                                    </label>
                                                                </li>
                                                            
                                                                <li class="option">
                                                                    <input type="radio" class="radioOrCheck" name="answer1" id="answer_1_option_3"/>
                                                                    <label for="answer_1_option_3">
                                                                        C.
                                                                        <p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p>
                                                                    </label>
                                                                </li>
                                                                <li class="option">
                                                                    <input type="radio" class="radioOrCheck" name="answer1" id="answer_1_option_4"/>
                                                                    <label for="answer_1_option_4">
                                                                        D.
                                                                        <p class="ue" style="display: inline;">后台启动流程推进</p>
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                
                                                    <li id="0_qu_2" class="question-ancher-jumpto">
                                                        <div class="test_content_nr_tt">
                                                            <i>2</i><span>(5分)</span><font>在营销系统中查询客户有无欠费、余额及抄表数据接待客户时应做到哪些最基本的礼仪？</font>
                                                        </div>
                                                        <div class="test_content_nr_main">
                                                            <ul>
                                                                    <li class="option">
                                                                            <input type="radio" class="radioOrCheck" name="answer2"
                                                                                id="answer_2_option_1"/>
                                                                        <label for="answer_2_option_1">
                                                                            A.
                                                                            <p class="ue" style="display: inline;">起身、微笑、示坐、问候客户</p>
                                                                        </label>
                                                                    </li>
                                                                    <li class="option">
                                                                            <input type="radio" class="radioOrCheck" name="answer2"
                                                                                id="answer_2_option_2" />
                                                                        <label for="answer_2_option_2">
                                                                            B.
                                                                            <p class="ue" style="display: inline;">坐着，问候客户</p>
                                                                        </label>
                                                                    </li>
                                                                    <li class="option">
                                                                            <input type="radio" class="radioOrCheck" name="answer2"
                                                                                id="answer_2_option_3" />
                                                                        <label for="answer_2_option_3">
                                                                            C.
                                                                            <p class="ue" style="display: inline;">坐着，问候客户</p>
                                                                        </label>
                                                                    </li>
                                                                    <li class="option">
                                                                            <input type="radio" class="radioOrCheck" name="answer2"
                                                                                id="answer_2_option_4"
                                                                            />
                                                                        <label for="answer_2_option_4">
                                                                            D.
                                                                            <p class="ue" style="display: inline;">请问需要办理什么业务</p>
                                                                        </label>
                                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                -->
                                                </ul>
                                            </div>
                                            
                                            <!--多选题 表头-->
                                            <div class="test_content">
                                                <div class="test_content_title">
                                                    <h2>多选题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">2</i><span>题，</span><span>合计</span><i class="content_fs">10</i><span>分</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--多选题 题目-->
                                            <div class="test_content_nr">
                                                <ul id="ul-box-type-1">

                                                </ul>
                                            </div>

                                             <!--判断题 表头-->
                                             <div class="test_content">
                                                <div class="test_content_title">
                                                    <h2>判断题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">1</i><span>题，</span><span>合计</span><i class="content_fs">5</i><span>分</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--判断题 题目-->
                                            <div class="test_content_nr">
                                                <ul id="ul-box-type-2">

                                                </ul>
                                            </div>

                                            <!--简答题 表头-->
                                            <div class="test_content">
                                                <div class="test_content_title">
                                                    <h2>简答题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">1</i><span>题，</span><span>合计</span><i class="content_fs">10</i><span>分</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--简答题 题目-->
                                            <div class="test_content_nr">
                                                <ul id="ul-box-type-4">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-col" style="position: fixed;">
                                <div class="nr_right" >
                                    <div class="nr_rt_main">
                                        <div class="rt_nr1" style="top: 67px; max-height: 540px; overflow: scroll; overflow-x: hidden;">
                                            <div class="rt_nr1_title">
                                                <div style="height: 100%; width: 100%; background-color: #5d9cec; font-size: 20px;">
                                                    <i class="bi bi-card-list" style="color: aliceblue;"></i>
                                                    <!-- <i class="ri-file-paper-2-line" style="color: aliceblue;"></i> -->
                                                    <span style="color: aliceblue;">答题卡</span>
                                                </div>
                                            </div>
                                            <div class="rt_content">
                                                <div class="rt_content_tt">
                                                    <h2>单选题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">2</i><span>题</span>
                                                    </p>
                                                </div>
                                                <div class="rt_content_nr answerSheet">
                                                    <ul id="ul-card-type-0">
                                                    <!--
                                                        <li class="switch-question"><a href="#0_qu_1">1</a></li>
                                                        <li class="switch-question"><a href="#0_qu_2">2</a></li>
                                                        
                                                        -->
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="rt_content">
                                                <div class="rt_content_tt">
                                                    <h2>多选题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">2</i><span>题</span>
                                                    </p>
                                                </div>
                                                <div class="rt_content_nr answerSheet">
                                                    <ul id="ul-card-type-1">
                                                    <!--
                                                        <li class="switch-question"><a href="#1_qu_3">3</a></li>
                                                        <li class="switch-question"><a href="#1_qu_4">4</a></li>
                                                        -->
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="rt_content">
                                                <div class="rt_content_tt">
                                                    <h2>判断题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">1</i><span>题</span>
                                                    </p>
                                                </div>
                                                <div class="rt_content_nr answerSheet">
                                                    <ul id="ul-card-type-2">
                                                    <!--
                                                        <li class="switch-question"><a href="#2_qu_5">5</a></li>
                                                        -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="rt_content">
                                                <div class="rt_content_tt">
                                                    <h2>简答题</h2>
                                                    <p>
                                                        <span>共</span><i class="content_lit">1</i><span>题</span>
                                                    </p>
                                                </div>
                                                <div class="rt_content_nr answerSheet">
                                                    <ul id="ul-card-type-4">
                                                    <!--
                                                        <li class="switch-question"><a href="#4_qu_6">6</a></li>
                                                        -->
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                    
                    
                </div>
            </div>
			
		</div>

		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.easing.min.js"></script>
        <script src="../static/js/jquery.countdown.min.js"></script>
		<script src="../static/js/jquerysession.js"></script>
        
        <script>
            var userId = $.session.get('userId');

            var paramInURL = parseUrl();
            var examId = paramInURL['eid'];
            var paperId = paramInURL['pid'];

            function parseUrl(){
                var url=location.href;
                var i=url.indexOf('?');
                if(i==-1)return;
                var querystr=url.substr(i+1);
                var arr1=querystr.split('&');
                var arr2=new Object();
                for  (i in arr1){
                    var ta=arr1[i].split('=');
                    arr2[ta[0]]=ta[1];
                }
                return arr2;
            }

            window.onload = function() {

                // var userId = $.session.get('userId');
                document.getElementById('userIdArea').innerHTML = userId;

                // 解析url获得examId和papaerId;
                var paramInURL = parseUrl();
                var examId = paramInURL['eid'];
                var paperId = paramInURL['pid'];

                // var paperData;

                $.ajax({
                    type: "get",
                    url: "/student/reviewExamPaper?eid=" + examId + "&pid=" + paperId + "&sid=" + userId,
                    datatype: "json",
                    success: function(data){
                        parsePaperData(data);
                    },
                    //success: parsePaperData(data),
                    error: function(data) {
                        // alert(data);
                    }
                })
            }

            function collectThisQues(element) {
                var quesIdCollected = element.id;
                // 该题ID（单道题目）
                var colData = JSON.stringify({ "studentId": userId, "questionId": quesIdCollected });

                $.ajax({
                    type: "post",
                    url: "/student/collectQuestion",
                    contentType: "application/json",
                    data: colData,
                    datatype: "json",
                    success: function(resultMsg){
                        if(resultMsg.code == 0){
                            // 收藏成功
                            alert('已收藏至错题集！');
                        } else {
                            if(resultMsg.code == 101)
                            // 收藏失败：题目已存在于错题集
                            alert('该题目已存在！');
                        }
                    },
                    error: function(resultMsg){
                        // alert("通信失败");
                    }
                });
            }

            // // 已答题目给答题卡着色
            // $(function() {
            //     $('li.option label').click(function() {
            //         var quesId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
            //         var cardLi = $('a[href="#' + quesId + '"]'); // 根据题目ID找到对应答题卡
            //         // 设置已答题
            //         if (!cardLi.hasClass('hasBeenAnswer')){
            //             cardLi.addClass('hasBeenAnswer');
            //         }
            //     });
            // });


            /*
            
            paperData:

            {
                "quesNum": ,   // 总数
                "quesNum_0": , // 单
                "quesNum_1": , // 多
                "quesNum_2": , // 判
                "quesNum_4": , // 简
                "examTime":  ,  // 时间
                "data": {
                    {},{},{}……
                }

            }

            */

            var quesOrderToId = {};
            var num_total = "";
            var num_q_0 = "";
            var num_q_1 = "";
            var num_q_2 = "";
            var num_q_4 = "";

            function parsePaperData(paperData) {
                num_total = paperData.quesNum;
                num_q_0 = paperData.quesNum_0;
                num_q_1 = paperData.quesNum_1;
                num_q_2 = paperData.quesNum_2;
                num_q_4 = paperData.quesNum_4;

                var quesId = "";
                var quesIdOnPaper = "";
                var quesTitle = "";
                var quesScore = "";
                var opa = "";
                var opb = "";
                var opc = "";
                var opd = "";
                var opTrue = "";
                var opFalse = "";
                var opRight = "";
                var opMy = "";
                var scoreMy = 0;

                // 单选
                for(var i = 0; i < num_q_0; i++) {
                    quesId = paperData.data[i].questionId;
                    quesIdOnPaper = paperData.data[i].questionOrder + 1;
                    quesTitle = paperData.data[i].questionContent;
                    quesScore = paperData.data[i].questionScore;
                    opa = paperData.data[i].opa;
                    opb = paperData.data[i].opb;
                    opc = paperData.data[i].opc;
                    opd = paperData.data[i].opd;
                    opRight = paperData.data[i].opRight;
                    opMy = paperData.data[i].opMy;
                    scoreMy = paperData.data[i].scoreMy;
                    add_ques_0(quesId, quesIdOnPaper, quesTitle, quesScore, opa, opb, opc, opd, opRight, opMy, scoreMy);
                    quesOrderToId[quesIdOnPaper] = quesId;
                }
                // 多选
                for(i = num_q_0; i < num_q_0 + num_q_1; i++) {
                    quesId = paperData.data[i].questionId;
                    quesIdOnPaper = paperData.data[i].questionOrder + 1;
                    quesTitle = paperData.data[i].questionContent;
                    quesScore = paperData.data[i].questionScore;
                    opa = paperData.data[i].opa;
                    opb = paperData.data[i].opb;
                    opc = paperData.data[i].opc;
                    opd = paperData.data[i].opd;
                    opRight = paperData.data[i].opRight.split(",");
                    opMy = paperData.data[i].opMy;
                    scoreMy = paperData.data[i].scoreMy;
                    add_ques_1(quesId, quesIdOnPaper, quesTitle, quesScore, opa, opb, opc, opd, opRight, opMy, scoreMy);
                    quesOrderToId[quesIdOnPaper] = quesId;
                }
                // 判断
                for(i = num_q_0 + num_q_1; i < num_q_0 + num_q_1 + num_q_2; i++) {
                    quesId = paperData.data[i].questionId;
                    quesIdOnPaper = paperData.data[i].questionOrder + 1;
                    quesTitle = paperData.data[i].questionContent;
                    quesScore = paperData.data[i].questionScore;
                    opTrue = paperData.data[i].opa;
                    opFalse = paperData.data[i].opb;
                    opRight = paperData.data[i].opRight;
                    opMy = paperData.data[i].opMy;
                    scoreMy = paperData.data[i].scoreMy;
                    add_ques_2(quesId, quesIdOnPaper, quesTitle, quesScore, opTrue, opFalse, opRight, opMy, scoreMy);
                    quesOrderToId[quesIdOnPaper] = quesId;
                }
                // 简答
                for(i = num_q_0 + num_q_1 + num_q_2; i < num_total; i++) {
                    quesId = paperData.data[i].questionId;
                    quesIdOnPaper = paperData.data[i].questionOrder + 1;
                    quesTitle = paperData.data[i].questionContent;
                    quesScore = paperData.data[i].questionScore;
                    add_ques_4(quesId, quesIdOnPaper, quesTitle, quesScore, opMy, scoreMy);
                    quesOrderToId[quesIdOnPaper] = quesId;
                }

            }

            var myChoiceName = "";
            var myChoiceId = "";
            var rightChoiceId = "";

            /* 
            * 单选题: 0 
            *
            *quesId: 问题id
            *quesIdOnPaper: 该问题在试卷上的顺序
            *quesTitle: 问题的题目
            *quesScore: 分值
            *
            * 
            * template:  (有变化，加了得分和各个label的id，但模板懒得改了)
            * 
            * <li id="0_qu_1" class="question-ancher-jumpto">
            *   <div class="test_content_nr_tt">
            *       <i>1</i><span>(5分)</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font>
            *   </div>              
            *   <div class="test_content_nr_main">
            *       <ul>
            *           <li class="option">
            *               <input type="radio" class="radioOrCheck" name="answer1"
            *                   id="answer_1_option_1"/>
            *               <label for="answer_1_option_1">
            *                   A.
            *                   <p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p>
            *               </label>
            *           </li>
            *           <li class="option">
            *                   <input type="radio" class="radioOrCheck" name="answer1"
            *                       id="answer_1_option_2"
            *                   />
            *               <label for="answer_1_option_2">
            *                   B.
            *                   <p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p>
            *               </label>
            *           </li>
            *       
            *           <li class="option">
            *               <input type="radio" class="radioOrCheck" name="answer1" id="answer_1_option_3"/>
            *               <label for="answer_1_option_3">
            *                   C.
            *                   <p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p>
            *               </label>
            *           </li>
            *           <li class="option">
            *               <input type="radio" class="radioOrCheck" name="answer1" id="answer_1_option_4"/>
            *               <label for="answer_1_option_4">
            *                   D.
            *                   <p class="ue" style="display: inline;">后台启动流程推进</p>
            *               </label>
            *           </li>
            *       </ul>
            *   </div>
            * </li>
            * 
            */
            function add_ques_0(quesId, quesIdOnPaper, quesTitle, quesScore, opa, opb, opc, opd, opRight, opMy, scoreMy) {
                // 题目渲染
                var str_ques_box_top = '<li id="0_qu_' + quesIdOnPaper + '" class="question-ancher-jumpto">';
                var str_ques_title = '<div class="test_content_nr_tt row">' + '<div class="col-sm-11"><i>' + quesIdOnPaper + '</i><span>(' 
                    + '<span style="color: red;">' + scoreMy + '</span> / ' + quesScore + '分)</span><font>' + quesTitle + '</font></div>'
                    + '<div class="col-sm-1"><button id="' + quesId + '" type="button" class="btn btn-primary" onclick="collectThisQues(this)" style="margin-left: 30px;">' 
                    + '<i class="bi bi-bookmark-star-fill"></i></button></div>';
                var str_choice_box_top = '<div class="test_content_nr_main"><ul>';
                var str_opa = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_1"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op1' + '" for="answer_' + quesIdOnPaper + '_option_1"/>A.<p class="ue" style="display: inline;">' + opa + '</p></lable></li>';
                var str_opb = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_2"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op2' + '" for="answer_' + quesIdOnPaper + '_option_2"/>B.<p class="ue" style="display: inline;">' + opb + '</p></lable></li>';
                var str_opc = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_3"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op3' + '" for="answer_' + quesIdOnPaper + '_option_3"/>C.<p class="ue" style="display: inline;">' + opc + '</p></lable></li>';
                var str_opd = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_4"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op4' + '" for="answer_' + quesIdOnPaper + '_option_4"/>D.<p class="ue" style="display: inline;">' + opd + '</p></lable></li>';
                var str_choice_box_bottom = '</ul></div>';
                var str_ques_box_bottom = '</li>';

                var str_ques = str_ques_box_top + str_ques_title + str_choice_box_top + str_opa + str_opb + str_opc + str_opd + str_choice_box_bottom + str_ques_box_bottom;
                // document.getElementById('ul-box-type-0').append(str_ques);
                document.querySelector('#ul-box-type-0').innerHTML += str_ques;

                // 学生的选择设置radio选中，正确答案给标红色
                var ops = [opa, opb, opc, opd];
                for(var i = 1; i <= ops.length; i++) {
                    if(ops[i] == opMy) {
                        myChoiceName = "answer" + quesIdOnPaper;
                        myChoiceId = "answer_" + quesIdOnPaper + "_option_" + i;
                        // 选中
                        $("input:radio[name=myChoiceName][id=myChoiceId]").attr("checked", true).prop("checked", true);
                    }
                    if(ops[i] == opRight) {
                        rightChoiceId = "label_" + quesIdOnPaper + "_op" + i;
                        // 正确选项标红
                        document.getElementById(rightChoiceId).style.color = "#e41d4f";
                    }
                }

                // 答题卡渲染
                // template:  <li class="switch-question"><a href="#qu_1">1</a></li>
                var str_ans_card = '<li class="switch-question"><a href="#0_qu_' + quesIdOnPaper + '">' + quesIdOnPaper + '</a></li>';
                document.querySelector('#ul-card-type-0').innerHTML += str_ans_card;

                // 答题卡涂色，正确涂蓝，错/半对涂红
                var cardLi = $('a[href="#0_qu_' + quesIdOnPaper + '"]'); // 根据题目ID找到对应答题卡
                if(quesScore != scoreMy) {
                    cardLi.addClass('hasBeenAnswerWrong');
                } else {
                    cardLi.addClass('hasBeenAnswerRight');
                }

            }

            /*
            * 多选题: 1
            *
            * <li id="1_qu_3" class="question-ancher-jumpto">
            * 
            * 与单选题的区别主要在于：  input type="checkobx"
            * 还有注意题号
            * 
            */
            function add_ques_1(quesId, quesIdOnPaper, quesTitle, quesScore, opa, opb, opc, opd, opRight, opMy, scoreMy) {
                // 题目渲染
                var str_ques_box_top = '<li id="1_qu_' + quesIdOnPaper + '" class="question-ancher-jumpto">';
                var str_ques_title = '<div class="test_content_nr_tt row">' + '<div class="col-sm-11"><i>' + quesIdOnPaper + '</i><span>(' 
                    + '<span style="color: red;">' + scoreMy + '</span> / ' + quesScore + '分)</span><font>' + quesTitle + '</font></div>'
                    + '<div class="col-sm-1"><button id="' + quesId + '" type="button" class="btn btn-primary" onclick="collectThisQues(this)" style="margin-left: 30px;">' 
                    + '<i class="bi bi-bookmark-star-fill"></i></button></div>';
                var str_choice_box_top = '<div class="test_content_nr_main"><ul>';
                var str_opa = '<li class="option"><input type="checkbox" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_1"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op1' + '" for="answer_' + quesIdOnPaper + '_option_1"/>A.<p class="ue" style="display: inline;">' + opa + '</p></lable></li>';
                var str_opb = '<li class="option"><input type="checkbox" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_2"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op2' + '" for="answer_' + quesIdOnPaper + '_option_2"/>B.<p class="ue" style="display: inline;">' + opb + '</p></lable></li>';
                var str_opc = '<li class="option"><input type="checkbox" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_3"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op3' + '" for="answer_' + quesIdOnPaper + '_option_3"/>C.<p class="ue" style="display: inline;">' + opc + '</p></lable></li>';
                var str_opd = '<li class="option"><input type="checkbox" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_4"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op4' + '" for="answer_' + quesIdOnPaper + '_option_4"/>D.<p class="ue" style="display: inline;">' + opd + '</p></lable></li>';
                var str_choice_box_bottom = '</ul></div>';
                var str_ques_box_bottom = '</li>';

                var str_ques = str_ques_box_top + str_ques_title + str_choice_box_top + str_opa + str_opb + str_opc + str_opd + str_choice_box_bottom + str_ques_box_bottom;
                document.querySelector('#ul-box-type-1').innerHTML += str_ques;

                // 学生的选择设置checkbox选中，正确答案给标红色
                var ops = [opa, opb, opc, opd];
                for(var i = 1; i <= ops.length; i++) {
                    if(ops[i] == opMy) {
                        myChoiceName = "answer" + quesIdOnPaper;
                        myChoiceId = "answer_" + quesIdOnPaper + "_option_" + i;
                        // 选中
                        $("input:checkbox[name=myChoiceName][id=myChoiceId]").attr("checked", true).prop("checked", true);
                    }
                    for(var j = 1; j <= opRight.length; j++) {
                        if(ops[i] == opRight[j]) {
                            rightChoiceId = "label_" + quesIdOnPaper + "_op" + i;
                            // 正确选项标红
                            document.getElementById(rightChoiceId).style.color = "#e41d4f";
                        }
                    }
                    
                }

                // 答题卡渲染
                // template:  <li class="switch-question"><a href="#qu_1">1</a></li>
                var str_ans_card = '<li class="switch-question"><a href="#1_qu_' + quesIdOnPaper+ '">' + quesIdOnPaper + '</a></li>';
                document.querySelector('#ul-card-type-1').innerHTML += str_ans_card;

                // 答题卡涂色，正确涂蓝，错/半对涂红
                var cardLi = $('a[href="#1_qu_' + quesIdOnPaper + '"]'); // 根据题目ID找到对应答题卡
                if(quesScore != scoreMy) {
                    cardLi.addClass('hasBeenAnswerWrong');
                } else {
                    cardLi.addClass('hasBeenAnswerRight');
                }
            }

            /*
            * 判断题: 2
            *
            * 
            * template:
            * 
            *  <li id="2_qu_5" class="question-ancher-jumpto">
                    <div class="test_content_nr_tt">
                        <i>5</i><span>(3 / 5分)</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是</font>
                    </div>              
                    <div class="test_content_nr_main">
                        <ul>
                            <li class="option">
                                <input type="radio" class="radioOrCheck" name="answer5"
                                    id="answer_5_option_t" />
                                <label for="answer_5_option_t">
                                    <p class="ue" style="display: inline;">正确</p>
                                </label>
                            </li>
                            <li class="option">
                                    <input type="radio" class="radioOrCheck" name="answer5"
                                        id="answer_5_option_f" />
                                <label for="answer_5_option_f">
                                    <p class="ue" style="display: inline;">错误</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            * 
            */
            function add_ques_2(quesId, quesIdOnPaper, quesTitle, quesScore, opTrue, opFalse, opRight, opMy, scoreMy) {
                var str_ques_box_top = '<li id="2_qu_' + quesIdOnPaper + '" class="question-ancher-jumpto">';
                var str_ques_title = '<div class="test_content_nr_tt row">' + '<div class="col-sm-11"><i>' + quesIdOnPaper + '</i><span>(' 
                    + '<span style="color: red;">' + scoreMy + '</span> / ' + quesScore + '分)</span><font>' + quesTitle + '</font></div>'
                    + '<div class="col-sm-1"><button id="' + quesId + '" type="button" class="btn btn-primary" onclick="collectThisQues(this)" style="margin-left: 30px;">' 
                    + '<i class="bi bi-bookmark-star-fill"></i></button></div>';
                var str_choice_box_top = '<div class="test_content_nr_main"><ul>';
                var str_opTrue = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_1"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op1' + '" for="answer_' + quesIdOnPaper + '_option_1"/><p class="ue" style="display: inline;">' + opTrue + '</p></lable></li>';
                var str_opFalse = '<li class="option"><input type="radio" class="radioOrCheck" name="answer' + quesIdOnPaper + '"id="answer_' + quesIdOnPaper + '_option_2"/>'
                    + '<label id="label_' + quesIdOnPaper + '_op2' + '" for="answer_' + quesIdOnPaper + '_option_2"/><p class="ue" style="display: inline;">' + opFalse + '</p></lable></li>';
                var str_choice_box_bottom = '</ul></div>';
                var str_ques_box_bottom = '</li>';

                var str_ques = str_ques_box_top + str_ques_title + str_choice_box_top + str_opTrue + str_opFalse + str_choice_box_bottom + str_ques_box_bottom;
                document.querySelector('#ul-box-type-2').innerHTML += str_ques;

                // 学生的选择设置checkbox选中，正确答案给标红色
                var ops = [opTrue, opFalse];
                for(var i = 1; i <= ops.length; i++) {
                    if(opTrue == opMy) {
                        myChoiceName = "answer" + quesIdOnPaper;
                        myChoiceId = "answer_" + quesIdOnPaper + "_option_" + i;
                        // 选中
                        $("input:checkbox[name=myChoiceName][id=myChoiceId]").attr("checked", true).prop("checked", true);
                    }
                    if(ops[i] == opRight) {
                        rightChoiceId = "label_" + quesIdOnPaper + "_op" + i;
                        // 正确选项标红
                        document.getElementById(rightChoiceId).style.color = "#e41d4f";
                    }
                }

                // 答题卡渲染
                // template:  <li class="switch-question"><a href="#qu_1">1</a></li>
                var str_ans_card = '<li class="switch-question"><a href="#2_qu_' + quesIdOnPaper+ '">' + quesIdOnPaper + '</a></li>';
                document.querySelector('#ul-card-type-2').innerHTML += str_ans_card;

                // 答题卡涂色，正确涂蓝，错/半对涂红
                var cardLi = $('a[href="#2_qu_' + quesIdOnPaper + '"]'); // 根据题目ID找到对应答题卡
                if(quesScore != scoreMy) {
                    cardLi.addClass('hasBeenAnswerWrong');
                } else {
                    cardLi.addClass('hasBeenAnswerRight');
                }
            }


            /*
            * 简答题: 4
            *
            * template:
            * 
            * <li id="4_qu_6" class="question-ancher-jumpto">
                    <div class="test_content_nr_tt">
                        <i>6</i><span>(10分)</span><font>以下属于南方电网员工职业操守中明文规定的有()</font>
                    </div>
                    <div class="test_content_nr_main">
                        <textarea id="qu_6_answer_box" class="form-control textarea-input"></textarea>
                    </div>
                </li>
            * 
            * 
            */
            function add_ques_4(quesId, quesIdOnPaper, quesTitle, quesScore, opMy, scoreMy) {
                var str_ques_box_top = '<li id="4_qu_' + quesIdOnPaper + '" class="question-ancher-jumpto">';
                var str_ques_title = '<div class="test_content_nr_tt row">' + '<div class="col-sm-11"><i>' + quesIdOnPaper + '</i><span>(' 
                    + '<span style="color: red;">' + scoreMy + '</span> / ' + quesScore + '分)</span><font>' + quesTitle + '</font></div>'
                    + '<div class="col-sm-1"><button id="' + quesId + '" type="button" class="btn btn-primary" onclick="collectThisQues(this)" style="margin-left: 30px;">' 
                    + '<i class="bi bi-bookmark-star-fill"></i></button></div>';
                var str_ans_box_top = '<div class="test_content_nr_main">';
                var str_ans_input = '<div class="test_content_nr_main"><textarea id="qu_' + quesIdOnPaper + '_answer_box" class="form-control textarea-input"></textarea></div>'
                var str_ans_box_bottom = '</div>';
                var str_ques_box_bottom = '</li>';

                var str_ques = str_ques_box_top + str_ques_title + str_ans_box_top + str_ans_input + str_ans_box_bottom + str_ques_box_bottom;
                document.querySelector('#ul-box-type-4').innerHTML += str_ques;

                myChoiceId = 'qu_' + quesIdOnPaper + '_answer_box';
                document.getElementById(myChoiceId).value = opMy;
                document.getElementById(myChoiceId).disabled = true;

                // 答题卡渲染
                // template:  <li class="switch-question"><a href="#qu_1">1</a></li>
                var str_ans_card = '<li class="switch-question"><a href="#4_qu_' + quesIdOnPaper+ '">' + quesIdOnPaper + '</a></li>';
                document.querySelector('#ul-card-type-4').innerHTML += str_ans_card;

                // 答题卡涂色，正确涂蓝，错/半对涂红
                var cardLi = $('a[href="#2_qu_' + quesIdOnPaper + '"]'); // 根据题目ID找到对应答题卡
                if(quesScore != scoreMy) {
                    cardLi.addClass('hasBeenAnswerWrong');
                } else {
                    cardLi.addClass('hasBeenAnswerRight');
                }

            }

        </script>

	</body>
</html>
